.brand-logo {
  font-family: "Alice", serif;
  min-width: 214px;
}

h4 {
  font-family:  "Alice", serif;
}

.section p {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  line-height: 2.1rem;
}

.parallax-container {
  min-height: 380px;
  height: 380px;
}

.parallax-container img {
  display:   block;
  min-width: 620px;
  width:     100%;
  height:    auto;
}

#park-map {
  min-height: 200px;
  height: 200px;
}
