body {
    background-color: floralwhite;
}

nav {
    background-color: floralwhite;
}


@media only screen and (min-width : 992px) {
    .nav-wrapper {
        text-align: center;
    }

    nav .brand-logo {
        display: block;
        position: relative;
    }
    nav {
        height: 112px;
    }
    .navbar-fixed {
        height: 112px;
    }
    nav ul {
        text-align: center;
        margin-top: -15px;
    }

    nav ul.right {
        float: none !important;
    }

    nav ul li {
        float: none;
        display: inline-block;
    }
}


.button-collapse {
    margin-left: 10px;
}

.side-nav {
    background-color: floralwhite;
}

.brand-logo {
    font-family: "Alice", serif;
    min-width: 214px;
}

h4 {
    font-family:  "Alice", serif;
    font-size: 2.5rem;
}

.section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.section p {
    font-family: 'Slabo 27px', serif;
    /* font-family: 'Lora', serif; */
    font-size: 22px;
    line-height: 2.5rem;
}

.parallax-container {
    min-height: 400px;
    height: 400px;
}

.parallax-container img {
    display:   block;
    min-width: 620px;
    width:     100%;
    height:    auto;
}

#park-map {
    min-height: 200px;
    height: 200px;
}

#accommodations {
    margin-bottom: 0;
    padding-bottom: 0px;
}

#directions {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

#map-canvas {
    width: 100%;
    height: 300px;
}

#map-canvas iframe {
    width: 100%;
    height: 300px;
    border: none;
    pointer-events: none;
}

.card {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.card.medium {
    height: 100%;
    max-width: 300px;
}

.card.small {
    height: 100%;
    max-width: 200px;
}

.card.small h5 {
    font-size: 1.3rem;
}

.card .card-content {
    border-top: 1px solid #eee;
}

.card.medium .card-content {
    height: 100px;
}

.card.small .card-content {
    height: 75px;
    padding: 10px;
}

.card .card-content .valign-wrapper {
    height: 100%;
}

.card .card-image img {
    height: 100%;
    width: auto;
}

.card a {
    color: #333;
}

.card a:hover {
    color: #039BE5;
}
